<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="create">
          Add Share
        </a>
      </li>
      <li>
        <a routerLink="index">
          Display Shares
        </a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="container">
  <router-outlet></router-outlet>
</div>

<h2>Cambios de turno - Farmacias de Salto</h2>

<div class="top-items">
  <mat-form-field style="padding: 10px;">
    <mat-label>Mes</mat-label>
    <mat-select (selectionChange)="changeMonth($event.value)">
      <mat-option *ngFor="let m of months" [value]="m">
        {{m}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="padding: 10px;">
    <mat-label>Año</mat-label>
    <mat-select (selectionChange)="changeYear($event.value)">
      <mat-option *ngFor="let y of years" [value]="y">
        {{y}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<section class="loader-section" *ngIf="loading" style="padding: 10px;">
  <mat-progress-bar color="primary" mode="indeterminate">
  </mat-progress-bar>
</section>

<div style="padding: 10px;">
  <table mat-table [dataSource]="pharmacies" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="{'pharmacy-replaced':element.idFarmaciaReemplazo !== '','pharmacy-original': !element.idFarmaciaReemplazo}">
        {{element.fechaDesde|date: "dd/MM/yyyy"}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="{'pharmacy-replaced':element.idFarmaciaReemplazo !== '','pharmacy-original': !element.idFarmaciaReemplazo}">
        {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Farmacia</th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="{'pharmacy-replaced':element.idFarmaciaReemplazo !== '','pharmacy-original': !element.idFarmaciaReemplazo}">
        {{element.farmacia}} </td>
    </ng-container>
    <ng-container matColumnDef="replace_id">
      <th mat-header-cell *matHeaderCellDef>Reemplazo ID</th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="{'pharmacy-replaced':element.idFarmaciaReemplazo !== '','pharmacy-original': !element.idFarmaciaReemplazo}">
        {{element.idFarmaciaReemplazo}} </td>
    </ng-container>
    <ng-container matColumnDef="replace_name">
      <th mat-header-cell *matHeaderCellDef>Nueva Farmacia</th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="{'pharmacy-replaced':element.idFarmaciaReemplazo !== '','pharmacy-original': !element.idFarmaciaReemplazo}">
        {{element.farmaciaReemplazo}} </td>
    </ng-container>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Farmacias</th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="{'pharmacy-replaced':element.idFarmaciaReemplazo !== '','pharmacy-original': !element.idFarmaciaReemplazo}">
        <mat-form-field style="padding: 10px;">
          <mat-label>Farmacia</mat-label>
          <mat-select (selectionChange)="changePharmacy($event.value, element.id)">
            <mat-option *ngFor="let rp of replacePharmacies" [value]="rp.id">
              {{rp.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>